.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.display-flex {
  display: flex !important;
}

.display-grid {
  display: grid !important;
}

.button {
  max-width: 8rem;
  border: 0.1rem solid #f7c59f;
  border-radius: 0.25rem;
  background: none;
  color: #fafaff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 400ms ease-out;
}
.button:hover {
  background: rgba(252, 224, 66, 0.6);
}

#wordsUI-select-child-list .list-words-child, #wordsUI-select-parent-list .list-words-parent, #childUI-select-parent-list .list-parent, #wordsUI-select-child-list .list-parent, #wordsUI-select-parent-list .list-parent {
  padding: 0.5rem;
  background: #00cc99;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

#add-wordsUI #add-words__title, #add-childUI #add-child__title, #add-parentUI #add-parent__title, #add-wordsUI #add-parent__title, #editUI #editUI-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#add-wordsUI #add-words__title p, #add-childUI #add-child__title p, #add-parentUI #add-parent__title p, #add-wordsUI #add-parent__title p, #editUI #editUI-title p {
  font-size: 1.5rem;
  font-weight: 700;
}
#add-wordsUI #add-words__title .close-main-page, #add-childUI #add-child__title .close-main-page, #add-parentUI #add-parent__title .close-main-page, #add-wordsUI #add-parent__title .close-main-page, #editUI #editUI-title .close-main-page {
  background: #d72638;
  color: #000;
  padding: 0 0.5rem;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: background 300ms linear, color 300ms linear;
}
#add-wordsUI #add-words__title .close-main-page:hover, #add-childUI #add-child__title .close-main-page:hover, #add-parentUI #add-parent__title .close-main-page:hover, #add-wordsUI #add-parent__title .close-main-page:hover, #editUI #editUI-title .close-main-page:hover {
  background: #c12232;
  color: #fafaff;
}

#editUI #editUI-title #editUI-title-preview, #editUI #editUI-content #editForm #editUI-words-section .preview-element, #editUI #editUI-content #editForm #editUI-child-section .preview-element, #editUI #editUI-content #editForm #editUI-parent-section .preview-element {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
  background: #000;
  border-radius: 0.5rem;
}

#editUI #editUI-content #editForm #editUI-words-section label, #editUI #editUI-content #editForm #editUI-child-section label, #editUI #editUI-content #editForm #editUI-parent-section label {
  font-size: 1.25rem;
}
#editUI #editUI-content #editForm #editUI-words-section input[type=text], #editUI #editUI-content #editForm #editUI-child-section input[type=text], #editUI #editUI-content #editForm #editUI-parent-section input[type=text] {
  width: 75%;
  font-size: 1rem;
  font-weight: 700;
  max-width: 32ch;
  padding: 0.5rem 0;
  background: transparent;
  color: #fafaff;
  border: none;
  border-bottom: 2px solid #f7c59f;
}
#editUI #editUI-content #editForm #editUI-words-section input[type=text]:focus, #editUI #editUI-content #editForm #editUI-child-section input[type=text]:focus, #editUI #editUI-content #editForm #editUI-parent-section input[type=text]:focus {
  outline: none;
}
#editUI #editUI-content #editForm #editUI-words-section input[type=color], #editUI #editUI-content #editForm #editUI-child-section input[type=color], #editUI #editUI-content #editForm #editUI-parent-section input[type=color] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
#add-wordsUI .add-words__content form #wordsUI-error-message, #add-childUI .add-child__content form #childUI-error-message, #add-parentUI .add-parent__content form #parentUI-error-message, #add-wordsUI .add-parent__content form #parentUI-error-message {
  display: flex;
  flex-direction: column;
  background: #d72638;
  color: #fff;
  font-size: 0.75rem;
}
#add-wordsUI .add-words__content form #wordsUI-error-message p, #add-childUI .add-child__content form #childUI-error-message p, #add-parentUI .add-parent__content form #parentUI-error-message p, #add-wordsUI .add-parent__content form #parentUI-error-message p {
  border-bottom: 1px solid #1e2749;
}
#add-wordsUI .add-words__content form #wordsUI-error-message p:last-of-type, #add-childUI .add-child__content form #childUI-error-message p:last-of-type, #add-parentUI .add-parent__content form #parentUI-error-message p:last-of-type, #add-wordsUI .add-parent__content form #parentUI-error-message p:last-of-type {
  border: none;
}

#editUI #editUI-content #editForm #editUI-words-section .editUI-buttons-container .delete-button, #editUI #editUI-content #editForm #editUI-child-section .editUI-buttons-container .delete-button, #editUI #editUI-content #editForm #editUI-parent-section .delete-button {
  border: 0.1rem solid #d72638;
  border-radius: 0.25rem;
  background: none;
  color: #fafaff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 400ms ease-out;
}
#editUI #editUI-content #editForm #editUI-words-section .editUI-buttons-container .delete-button:hover, #editUI #editUI-content #editForm #editUI-child-section .editUI-buttons-container .delete-button:hover, #editUI #editUI-content #editForm #editUI-parent-section .delete-button:hover {
  background: rgba(215, 38, 56, 0.6);
}

#editUI #editUI-content #editForm #editUI-words-section .editUI-buttons-container .move-button, #editUI #editUI-content #editForm #editUI-child-section .editUI-buttons-container .move-button {
  border: 0.1rem solid #fbe1ce;
  border-radius: 0.25rem;
  background: none;
  color: #fafaff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 400ms ease-out;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#second-backdrop {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#editUI {
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  height: 80%;
  background: #1e2749;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 1001;
}
#editUI #editUI-content {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#editUI #editUI-content #editForm {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  gap: 1rem;
}
#editUI #editUI-content #editForm section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 2rem 0;
  transition: background 300ms linear;
}
#editUI #editUI-content #editForm section .margin-label {
  margin-top: 2rem;
}
#editUI #editUI-content #editForm #editUI-parent-section #editUI-select-child {
  border: 0.1rem solid #00cc99;
  border-radius: 0.25rem;
  background: none;
  color: #fafaff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: background 400ms ease-out;
}
#editUI #editUI-content #editForm #editUI-parent-section .delete-button {
  margin-top: 0.5rem;
}
#editUI #editUI-content #editForm #editUI-child-section {
  display: none;
}
#editUI #editUI-content #editForm #editUI-child-section #editUI-select-words {
  border-radius: 0.25rem;
  background: #2e3d7c;
  color: #fafaff;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
#editUI #editUI-content #editForm #editUI-child-section .editUI-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 0.5rem;
}
#editUI #editUI-content #editForm #editUI-words-section {
  display: none;
}
#editUI #editUI-content #editForm #editUI-words-section .editUI-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 0.5rem;
}
#editUI #editUI-content #editUISubmitButton {
  max-width: none;
  margin: auto;
}

#add-parentUI, #add-wordsUI {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  height: 80%;
  background: #1e2749;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1001;
}
#add-parentUI .add-parent__content, #add-wordsUI .add-parent__content {
  flex: 1;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
#add-parentUI .add-parent__content form, #add-wordsUI .add-parent__content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 75%;
  height: 100%;
}
#add-parentUI .add-parent__content form label, #add-wordsUI .add-parent__content form label {
  font-size: 1.25rem;
}
#add-parentUI .add-parent__content form input, #add-wordsUI .add-parent__content form input {
  margin-bottom: 3rem;
}
#add-parentUI .add-parent__content form #parentName, #add-wordsUI .add-parent__content form #parentName {
  width: 75%;
  font-size: 1rem;
  font-weight: 700;
  max-width: 32ch;
  padding: 0.5rem 0;
  background: transparent;
  color: #fafaff;
  border: none;
  border-bottom: 2px solid #f7c59f;
}
#add-parentUI .add-parent__content form #parentName:focus, #add-wordsUI .add-parent__content form #parentName:focus {
  outline: none;
}
#add-parentUI .add-parent__content form #parentBackground, #add-wordsUI .add-parent__content form #parentBackground {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
#add-parentUI .add-parent__content form #parentTextColor, #add-wordsUI .add-parent__content form #parentTextColor {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
#add-parentUI .add-parent__content form #previewParent, #add-wordsUI .add-parent__content form #previewParent {
  margin-bottom: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
  background: #000;
  border-radius: 0.5rem;
}
#add-childUI {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  height: 80%;
  background: #1e2749;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1001;
}
#add-childUI .add-child__content {
  flex: 1;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
#add-childUI .add-child__content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 75%;
  height: 100%;
}
#add-childUI .add-child__content form label {
  font-size: 1.25rem;
}
#add-childUI .add-child__content form input {
  margin-bottom: 2rem;
}
#add-childUI .add-child__content form #childName {
  width: 75%;
  font-size: 1rem;
  font-weight: 700;
  max-width: 32ch;
  padding: 0.5rem 0;
  background: transparent;
  color: #fafaff;
  border: none;
  border-bottom: 2px solid #f7c59f;
}
#add-childUI .add-child__content form #childName:focus {
  outline: none;
}
#add-childUI .add-child__content form #childBackground, #add-childUI .add-child__content form #childTextColor {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}
#add-childUI .add-child__content form #previewChild {
  margin-bottom: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
  background: #000;
  border-radius: 0.5rem;
}
#add-childUI .add-child__content form #childUI-select-parent {
  margin-bottom: 2rem;
  border: 0.1rem solid #00cc99;
  border-radius: 0.25rem;
  background: none;
  color: #fafaff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: background 400ms ease-out;
}
#childUI-select-parent-list, #wordsUI-select-child-list, #wordsUI-select-parent-list {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  height: 80%;
  background: #363946;
  padding: 1rem;
  border-radius: 0.75rem;
  overflow-y: scroll;
  z-index: 10001;
}
#childUI-select-parent-list::-webkit-scrollbar, #wordsUI-select-child-list::-webkit-scrollbar, #wordsUI-select-parent-list::-webkit-scrollbar {
  display: none;
}

#add-wordsUI .add-words__content {
  flex: 1;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
#add-wordsUI .add-words__content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 75%;
  height: 100%;
}
#add-wordsUI .add-words__content form label {
  font-size: 1.25rem;
}
#add-wordsUI .add-words__content form #first-word, #add-wordsUI .add-words__content form #second-word {
  width: 75%;
  font-size: 1rem;
  font-weight: 700;
  max-width: 32ch;
  padding: 0.5rem 0;
  background: transparent;
  color: #fafaff;
  border: none;
  border-bottom: 2px solid #f7c59f;
  margin-bottom: 2rem;
}
#add-wordsUI .add-words__content form #first-word:focus, #add-wordsUI .add-words__content form #second-word:focus {
  outline: none;
}
#add-wordsUI .add-words__content form #second-word {
  border-bottom-color: #ed7e29;
}
#add-wordsUI .add-words__content form #wordsUI-select-parent, #add-wordsUI .add-words__content form #wordsUI-select-child {
  margin-bottom: 2rem;
  border: 0.1rem solid #00cc99;
  border-radius: 0.25rem;
  background: none;
  color: #fafaff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: background 400ms ease-out;
}
#add-wordsUI .add-words__content form #wordsUI-select-child {
  border-color: #ac1e2d;
}
#wordsUI-select-child-list .errorMessage {
  color: #d72638;
}
#add-words__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  height: 100%;
  background: #1e2749;
  border-radius: 1rem;
  overflow: hidden;
}
#add-words__container #add-words__main {
  flex: 1;
  height: auto;
  max-height: 769px;
  width: 100%;
  overflow-y: auto;
  background: #363946;
}
#add-words__container #add-words__main .parents-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
#add-words__container #add-words__main .parents-container .parent-container {
  background: #4c5063;
  width: 100%;
  border-radius: 0.5rem;
  max-height: 3.18rem;
  overflow: hidden;
}
#add-words__container #add-words__main .parents-container .parent-container .parent-container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}
#add-words__container #add-words__main .parents-container .parent-container .parent-container-title .edit-button {
  background: url("../../images/settings.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: none;
}
#add-words__container #add-words__main .parents-container .parent-container .children-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  margin: 0 auto 0 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
#add-words__container #add-words__main .parents-container .parent-container .children-container .child-container {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: 700;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#add-words__container #add-words__main #add-words__main-prompt {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
#add-words__container #add-words__footer #add-words__footer-buttons {
  display: flex;
}
#add-words__container #add-words__footer #add-words__footer-buttons .add-words__footer-button {
  flex: 1;
  border: none;
  background: none;
  color: #fafaff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 400ms ease-out;
}
#add-words__container #add-words__footer #add-words__footer-buttons .add-words__footer-button:hover {
  background: rgba(247, 197, 159, 0.35);
}
#add-words__container #add-words__footer #add-words__footer-buttons .add-words__footer-button:nth-of-type(2) {
  border-left: 2px solid #f7c59f;
  border-right: 2px solid #f7c59f;
}/*# sourceMappingURL=add-words.css.map */