<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/styles/CSS/index.css">
        <link rel="icon" href="/images/logo.ico">
        <script src="/scripts/main.js" defer></script>
    </head>
    <body>
        <header>

        </header>
        <main>
            <h1>ADD WORDS PAGE</h1>
            <form action="/add-words" method="POST">
                <input type="text" placeholder="Enter the first word" name="firstWord">
                <input type="text" placeholder="Enter the second word" name="secondWord">
                <button type="submit">Send words</button>
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>