@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  webkit-tap-highlight-color: transparent;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'Rubik', sans-serif;
}

.display-block {
  display: block !important;
}

.display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.display-grid {
  display: -ms-grid !important;
  display: grid !important;
}

#backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.75rem;
  cursor: pointer;
}

.burger-menu .burger-line {
  width: 100%;
  height: 2px;
  background: white;
}

.burger-menu .burger-line:nth-of-type(2) {
  width: 75%;
}

.burger-menu .burger-line:last-of-type {
  width: 50%;
}

.menu-UI {
  display: none;
  place-items: center;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #161d27;
}

.fails-list__UI {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 90%;
  width: 75%;
  max-width: 600px;
  background: #1a222e;
  z-index: 10000;
}

.fails-list__UI h2 {
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.fails-list__UI h2::after {
  content: '"word(typed word) - correct word"';
  position: absolute;
  text-align: center;
  bottom: -.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: .75rem;
  color: #c86596;
}

.fails-list__UI .fails-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  width: 90%;
  max-width: 400px;
  height: 75%;
  padding: .5rem 2rem;
  font-size: 1.15rem;
  margin: auto;
  overflow-y: auto;
  background: #1f2938;
  color: #cccccc;
}

.fails-list__UI .fails-list .word {
  color: #f8f29a;
}

.fails-list__UI .fails-list .wrong-word {
  color: #e22d31;
}

.fails-list__UI .fails-list .correct-word {
  color: #4fbf26;
}

body {
  background: #0d1117;
  color: white;
}

.main-content {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.main-content h1 {
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-content input {
  background: none;
  color: white;
  font-size: 1.25rem;
  border: none;
  border-bottom: 2px solid #30363d;
}

.main-content input:focus {
  outline: none;
}

.main-content button {
  padding: .5rem 1rem;
  margin: auto;
  max-width: 10rem;
  border: none;
  background: white;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
}

.main-content button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.combos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75rem;
  font-weight: 400;
  gap: .2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.combos #combo {
  font-weight: 700;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}

.combos #max-combo {
  color: yellow;
  font-weight: 700;
}

.fails-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.75rem;
  font-weight: 400;
  gap: .5rem;
}

.fails-section #fails {
  font-weight: 700;
  color: red;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fails-section .fails-list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .3rem;
  width: 1.85rem;
  background: white;
  padding: .3rem;
  border-radius: .2rem;
  cursor: pointer;
}

.fails-section .fails-list__button:hover .fail-list__line {
  background: #3b4d68;
}

.fails-section .fails-list__button .fail-list__line {
  width: 100%;
  height: 2px;
  background: #0d1117;
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
}

@media screen and (min-width: 800px) {
  body .fails-list__UI h2 {
    font-size: 2.5rem;
  }
  body .fails-list__UI::after {
    font-size: 1rem;
    bottom: -.05rem;
  }
  body .fails-list__UI .fails-list {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
  body main .main-content h1 {
    font-size: 3rem;
  }
  body main .main-content .combos {
    font-size: 2rem;
  }
  body main .main-content .fails-section {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */