// fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap')
    
// resets
*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: inherit

body
    box-sizing: border-box
    font-size: 100%
    font-family: 'Rubik', sans-serif

// variabes
$black: #0d1117
$grey: #30363d
$pink: #a53b70
$red : #a7171a
$green: #4fbf26

// actual styling
body
    background: $black
    color: white

.main-content
    height: 100vh
    width: 100%
    display: flex
    flex-direction: column
    gap: 1.5rem
    align-items: center
    justify-content: center
    form
        display: flex
        flex-direction: column
        gap: 1.5rem
    h1
        font-size: 2rem
        user-select: none
    input
        background: none
        color: white
        font-size: 1.25rem
        border: none
        border-bottom: 2px solid $grey
        &:focus
            outline: none
    button
        padding: .5rem 1rem
        margin: auto
        max-width: 10rem
        border: none
        background: white
        // font-weight: 700
        font-size: 1rem
        cursor: pointer
        transition: transform 50ms linear
        &:active
            transform: scale(.95)

.combos
    display: flex
    align-items: center
    gap: .2rem            
    #combo
        font-size: 1.5rem
        font-weight: 700
        transition: color 100ms linear
        &::after
            content: 'x combo'
            font-size: 2rem
            font-weight: 400
            color: white
    #max-combo
        color: yellow
        font-size: 1.5rem
        font-weight: 700
        &::before
            content: '('
            color: white
            font-weight: 400
        &::after
            content: ')'
            color: white
            font-weight: 400

.fails-section
    #fails
        font-size: 1.5rem
        font-weight: 700
        color: red
        transition: color 100ms linear
        &::after
            content: 'x fails'
            font-size: 2rem
            font-weight: 400
            color: white

@media screen and ( min-width: 800px )
    body
        main
            .main-content
                h1
                    font-size: 3rem